.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 150px;
}

.title{
  color: white;
  font-size: 55px;
}

.messageBox{
  width: 45%;
  height: 80px;
  margin: auto;
  font-size: 20px;
  text-align: center;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.startButton{
  height: 60px;
  width: 15%;
  font-size: 20px;
  margin: 10px;
  background-color: rgb(139, 245, 86);
  color: black;
  cursor: pointer;
  border: none;
}

.boardContainers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.board{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px; 
}

h2, h4{
  margin: 0px;
}

.boardGrid{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 450px;
  width: 400px;
  margin: 10px;
}

.box{
  border: 1px solid black;
}

.box:hover{
  border: 1px solid white;
  opacity: 0.8;
  cursor: pointer;
}

.outerContainer{
  margin-top: 15%;
  width: 45%;
}

.middleContainer{
  font-size: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}

.middleContainer div{
  margin-bottom: 5px;
  color: white;
}

.middleContainer button{
  color: black;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.radio{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}